[Unit]
Description=Projecteur Spotlight overlay
Documentation=https://github.com/jahnf/Projecteur

[Service]
Type=simple
Environment=QT_QPA_PLATFORM=xcb
ExecStart=/usr/local/bin/projecteur
Restart=on-failure
RestartSec=2s
